[defaults]
roles_path=../../roles
interpreter_python = auto_silent
force_color=True
inventory=inventory
deprecation_warnings=False
host_key_checking = False
scp_if_ssh = True
command_timeout = 30
pipelining=True
ansible_ssh_common_args="-F /dev/null"