.DS_Store
sites/*/vars.yml
.log
tsig.key
ansible/roles/proxy/vars/main.yml
ansible/roles/semaphore/vars/main.yml

*.pem
*.pub
inventory*
*.tfvars
.terraform
terraform.tfstate
terraform.tfstate.backup

*.log