apiVersion: v1
kind: ConfigMap
metadata:
  name: homepage
  namespace: default
  labels:
    app.kubernetes.io/name: homepage
data:
  kubernetes.yaml: |
    mode: cluster
  settings.yaml: |
    title: Lukcic homelab
    background: 
      image: 'https://images.unsplash.com/photo-1502790671504-542ad42d5189?auto=format&fit=crop&w=2560&q=80'
      blur: sm
      saturate: 50
      brightness: 50
      opacity: 50
  custom.css: ""
  custom.js: ""
  bookmarks.yaml: |
    - Routines:
        - Personal Security Checklist:
            - abbr: PSC
              href: https://digital-defense.io/
        - Linux Debugging Academy:
            - abbr: ADL
              href: https://wiedza.mrugalski.pl/akademia-debugowania-linuksa/
    - Courses:
        - K8s Piyush:
            - abbr: K8s
              href: https://www.youtube.com/playlist?list=PLl4APkPHzsUUOkOv3i62UidrLmSB8DcGC
        - K8s CTB Nuggets:
            - abbr: CTB
              href: https://www.youtube.com/playlist?list=PL7D4X4pSOcCF1Y3SHHsLwczHH-uguuoEd
    - Watch later:
        - Cyberintro:
            - abbr: CIn
              href: https://tubearchivist.lukcic.pl/channel/UCfxk5idSdKXTEqAOa8YXIgw/
    - Developer:
        - Github:
            - abbr: GH
              href: https://github.com/
        - Discord:
            - abbr: DS
              href: https://discord.com
  services.yaml: |
    - Network:
        - UpSnap:
            href: https://upsnap.{{ homelab_dashboard_proxy_domain }}/
            description: UpSnap
            siteMonitor: http://{{ homelab_dashboard_docker01_ip }}:8090
            ping: {{ homelab_dashboard_docker01_ip }}
            icon: mdi-power-#fafafa
        - UniFi:
            href: https://unifi.{{ homelab_dashboard_proxy_domain }}/
            description: Unifi Network
            siteMonitor: https://unifi.{{ homelab_dashboard_net_domain }}:8443
            ping: {{ homelab_dashboard_unifi_ip }}
            icon: si-ubiquiti-#0559C9
            widget:
              type: unifi
              url: https://unifi.{{ homelab_dashboard_net_domain }}:8443
              username: {{ homelab_dashboard_unifi_user }}
              password: {{ homelab_dashboard_unifi_password }}
              site: Mieszkanie
              fields: ["wlan_devices", "wlan_users", "lan_users", "lan"]
        - Adguard:
            href: https://adguard.{{ homelab_dashboard_proxy_domain }}/
            description: Adguard DNS
            siteMonitor: http://{{ homelab_dashboard_adguard_ip }}
            ping: {{ homelab_dashboard_adguard_ip }}
            icon: si-adguard-#68BC71
            widget:
              type: adguard
              url: http://{{ homelab_dashboard_adguard_ip }}
              username: '{{ homelab_dashboard_adguard_user }}'
              password: '{{ homelab_dashboard_adguard_password }}'
        - Nginx Proxy Manager:
            href: http://proxy.{{ homelab_dashboard_net_domain }}:81/
            description: Nginx Proxy Manager
            siteMonitor: http://proxy.{{ homelab_dashboard_net_domain }}:81/
            ping: {{ homelab_dashboard_npm_ip }}
            icon: si-nginxproxymanager-#F15833
            widget:
              type: npm
              url: http://proxy.{{ homelab_dashboard_net_domain }}:81/
              username: {{ homelab_dashboard_npm_user }}
              password: {{ homelab_dashboard_npm_password }}
    - Virtualization:
        - PVE1:
            href: https://pve1.{{ homelab_dashboard_proxy_domain }}/
            description: Proxmox PVE1
            icon: si-proxmox-#E57000
            siteMonitor:  https://{{ homelab_dashboard_pve1_ip }}:8006
            ping: {{ homelab_dashboard_pve1_ip }}
            widget:
              type: proxmox
              url: https://{{ homelab_dashboard_pve1_ip }}:8006
              username: {{ homelab_dashboard_pve1_user }}
              password: {{ homelab_dashboard_pve1_token }}
              node: pve1
        - PVE2:
            href: https://pve2.{{ homelab_dashboard_proxy_domain }}/
            description: Proxmox PVE2
            icon: si-proxmox-#E57000
            siteMonitor:  https://{{ homelab_dashboard_pve2_ip }}:8006
            ping: {{ homelab_dashboard_pve2_ip }}            
            widget:
              type: proxmox
              url: https://{{ homelab_dashboard_pve2_ip }}:8006
              username: {{ homelab_dashboard_pve2_user }}
              password: {{ homelab_dashboard_pve2_token }}
              node: pve2     
        - PBS:
            href: http://pbs.{{ homelab_dashboard_proxy_domain }}/
            description: Proxmox Backup Server
            siteMonitor:  https://{{ homelab_dashboard_pbs_ip }}:8007
            ping: {{ homelab_dashboard_pbs_ip }}
            icon: si-proxmox-#E57000
            widget:
              type: proxmoxbackupserver
              url: https://pbs.{{ homelab_dashboard_proxy_domain }}
              username: {{ homelab_dashboard_pbs_user }}
              password: {{ homelab_dashboard_pbs_token }}         
        - Portainer:
            href: https://docker01.{{ homelab_dashboard_proxy_domain }}/
            description: Portainer on Docker01
            siteMonitor:  http://{{ homelab_dashboard_docker01_ip }}:9000
            ping: {{ homelab_dashboard_docker01_ip }}
            icon: si-portainer-#13BEF9
            widget:
              type: portainer
              url: http://{{ homelab_dashboard_docker01_ip }}:9000
              env: 2
              key: {{ homelab_dashboard_portainer_token }}      
    - Services:
        - SyncThing:
            href: https://syncthing.{{ homelab_dashboard_proxy_domain }}/
            description: SyncThing
            siteMonitor: http://syncthing.{{ homelab_dashboard_net_domain }}:8384
            ping: {{ homelab_dashboard_syncthing_ip }}
            icon: si-syncthing-#0891D1
        - Ansible Semaphore:
            href: https://semaphore.{{ homelab_dashboard_proxy_domain }}/
            description: Ansible Semaphore
            siteMonitor: http://semaphore.{{ homelab_dashboard_net_domain }}:3000
            ping: {{ homelab_dashboard_docker01_ip }}
            icon: si-ansible-#EE0000
        - Wallabag:
            href: https://wb.{{ homelab_dashboard_proxy_domain }}/
            description: Wallabag
            siteMonitor: http://{{ homelab_dashboard_docker01_ip }}:3030
            ping: {{ homelab_dashboard_docker01_ip }}
            icon: si-wallabag-#3F6184
        - PG Admin:
            href: https://pgsql.{{ homelab_dashboard_proxy_domain }}/
            description: PostgreSQL Admin
            siteMonitor: http://pgsql.{{ homelab_dashboard_net_domain }}
            ping: {{ homelab_dashboard_pgsql_ip }}
            icon: si-postgresql-#4169E1
        - TubeArchivist:
            href: https://tubearchivist.{{ homelab_dashboard_proxy_domain }}/
            description: TubeArchivist
            siteMonitor: http://tubearchivist.{{ homelab_dashboard_net_domain }}:8000
            ping: {{ homelab_dashboard_tube_archivist_ip }}
            icon: si-youtube-#00202f
            widget:
              type: tubearchivist
              url: http://tubearchivist.{{ homelab_dashboard_net_domain }}:8000
              key: {{ homelab_dashboard_tube_archivist_token }}
        - Jellyfin:
            href: https://jellyfin.{{ homelab_dashboard_proxy_domain }}/
            description: Jellyfin
            siteMonitor: http://jellyfin.{{ homelab_dashboard_net_domain }}:8096
            ping: {{ homelab_dashboard_jellyfin_ip }}
            icon: si-jellyfin-#00A4DC
            widget:
              type: jellyfin
              url: http://jellyfin.{{ homelab_dashboard_net_domain }}:8096
              key: {{ homelab_dashboard_jellyfin_token }}
              enableBlocks: true 
              enableNowPlaying: true 
              enableUser: false 
              showEpisodeNumber: true 
              expandOneStreamToTwoRows: false 
        - Paperless-ngx:
            href: https://paperless.{{ homelab_dashboard_proxy_domain }}/
            description: Paperless-ngx
            siteMonitor: http://docker01.{{ homelab_dashboard_net_domain }}:7000
            ping: {{ homelab_dashboard_docker01_ip }}
            icon: si-paperlessngx-#17541F
            widget:
              type: paperlessngx
              url: https://paperless.{{ homelab_dashboard_proxy_domain }}
              key: {{ homelab_dashboard_paperless_token }}

  widgets.yaml: |
    - kubernetes:
        cluster:
          show: true
          cpu: true
          memory: true
          showLabel: true
          label: "k3s cluster"
        nodes:
          show: true
          cpu: true
          memory: true
          showLabel: true
    - resources:
        backend: resources
        expanded: true
        cpu: true
        memory: true
        network: default
    - search:
        provider: duckduckgo
        target: _blank
  docker.yaml: ""
