---
apiVersion: v1
kind: Secret
metadata:
  name: photoprism-secrets
  namespace: photoprism
type: Opaque
data:
  PHOTOPRISM_ADMIN_USER: "YWRtaW4=" # admin
  PHOTOPRISM_ADMIN_PASSWORD: "aW5zZWN1cmU=" # insecure
---
apiVersion: v1
kind: Secret
metadata:
  name: mariadb-secrets
  namespace: photoprism
type: Opaque
stringData:
  MARIADB_ROOT_PASSWORD: insecure
  MARIADB_PASSWORD: insecure
  MARIADB_USER: photoprism
  MARIADB_DATABASE: photoprism