$ORIGIN {{ item.domain }}.
$TTL 86400	; 1 day
@	IN	SOA	ns1.{{ item.domain }}. admin.{{ item.domain }}. (
				{{ current_timestamp}} ; serial
				3600       ; refresh (1 hour)
				3600       ; retry (1 hour)
				2419200    ; expire (4 weeks)
				3600       ; minimum (1 hour)
				)
@	NS	ns1
{% for entry in item.entries %}
{% for name, ip in entry.items() %}
{{ name | indent }}		A	{{ ip }}
{% endfor %}
{% endfor %}