$ORIGIN {{ item.reverse }}.IN-ADDR.ARPA.
$TTL 86400	; 1 day
@	IN	SOA	ns1.{{ item.domain }}. admin.{{ item.domain }}. (
            {{ current_timestamp }} ; serial
			 604800		; Refresh
			  86400		; Retry
			2419200		; Expire
			 604800 )	; Negative Cache TTL
;
@   NS	ns1.
{% for entry in item.entries %}
{% for name, ip in entry.items() %}
{{ ip.split('.')[-1] | indent }}		PTR     {{ name }}.{{ item.domain }}.
{% endfor %}
{% endfor %}