{% for item in zones %}
{% item.reverse is defined %}
zone "{{ item.reverse }}" IN {
    type master;
    file "/etc/bind/db.{{ item.reverse }}";
    update-policy { grant tsig-key zonesub any; };
};

zone "{{ item.domain }}" IN {
    type master;
    file "/etc/bind/db.{{ item.domain }}";
    update-policy { grant tsig-key zonesub any; };
};
{% endif %}
{% endfor %}
{% for item in zones %}
{% item.reverse is not defined %}
zone "{{ item.domain }}" IN {
    type master;
    file "/etc/bind/db.{{ item.domain }}";
    update-policy { grant tsig-key zonesub any; };
};
{% endif %}
{% endfor %}